# Owners of the whole project
* @amosnyirenda123 @jih7ne @essebaiyayaa @Ayarssn

# Petkeeping service
/petkeeping/** @jih7ne @amosnyirenda123

# Babysitting service
/babysitting/** @jih7ne @Ayarssn

# Tutoring service
/tutoring/** @jih7ne @essebaiyayaa
